<DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Model Converter</title>
  <link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="../static/custom-input/css/component.css" />
  
  <script src="../static/layui/layui.js"></script>
  <script src="../static/jquery/jquery-3.6.0.min.js"></script>

</head>

<html>
<div class="page">

<div class="header layui-bg-black">
  <div class="layui-main">
    
      <a class="logo">
        <img src="../static/logo.png" alt="Model Converter" width="100px" style="padding:10px;">
      </a>
    
    <ul class="layui-nav" lay-filter="">
     {% for tool in tools %}
        {% if tool.url == select %}
        <li class="layui-nav-item layui-this" tool="{{tool.id}}">
        {% else %}
        <li class="layui-nav-item" tool="{{tool.id}}">
        {% endif %}
          <a href="{{url_for(tool.url)}}">{{tool.name}}</a>
        </li>
     {% endfor %}
    </ul>

  </div>
</div>

{% block body %}{% endblock %}

</div>

<script>
  //注意：导航 依赖 element 模块，否则无法进行功能性操作
  layui.use('element', function(){
    var element = layui.element;
    //…
  });
</script>

</html>

<script src="../static/custom-input/js/custom-file-input.js"></script>
<script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2");})(document,window,0);</script>